*{
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  font-size: large;
  font-weight: 400;
}

.loader{
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 70vh;
}

.home-component{
  text-align: center;
  width: 75%;
  margin: auto;
}

.home-component .jokes{
  height: 500px
}

nav .logo {
  height: 150px;
  width: auto;
}

footer{
  text-align: center;
  height: 180px;
}

.form-button {
  margin: 35px;
}